body{
    background: pink;
    padding: 0px;
    margin: 0px;
}
div.container{
    display: flex;
    }
.container div{
    height: 250px;
    width: 250px; 
    border: 2px solid white;
    flex-wrap: wrap; 
    color: white;
    font-size: 300%;
    align-content: space-around;
}
.one{
    background: red;
}
.two{
   background:  blue;
}
.three{
    background: orange;
}
.four{
    background: green;
}
.five{
    background: purple
}